.track {
    margin-bottom: 20rem;
    &-container {
        @media screen and (min-width: 1200px) {
            display: flex;
            align-items: center;

            position: relative;
        }
        
    }


    &__illustration {
        &-box {
            margin-top: 8rem;
            @media screen and (max-width: 1199px) {
                text-align: center;
            }

            @media screen and (min-width: 1200px) {
    
                position: absolute;
                top: 0;
                left: -20px;
            }
            
        }

        @media screen and (max-width: 700px) {
            width: 80%;
           max-width: 40rem;
        }

        max-width: 50vw;
    }

    &__content-box {
        
        
       

        @media screen and (min-width: 1200px) {
    
            position: absolute;
            top: 15rem;
            right: 12rem;

            font-size: 2rem;
        }
    }

    
}